<div style="padding-top: 2%;"></div>

<div class="container">


  <h1>รายการข้อมูล</h1>

  <div class="row">
    <div class="col">
      <button (click)="btnGoToPageCreateData()" class="btn btn-primary">Create Data</button>
    </div>
  </div>

  <div style="padding-bottom: 1%;"></div>

  <div class="row">
    <div class="col-5"></div>
    <div class="col-5">
      <input type="text" [(ngModel)]="searchVal" class="form-control" placeholder="Search" >
    </div>
    <div style="text-align: end; align-items: end;" class="col">
        <button (click)="onSearch()"  class="btn btn-success mx-2">Search</button>
        <button (click)="onClear()"  class="btn btn-primary">Clear</button>
    </div>
  </div>

  <div style="padding-bottom: 1%;"></div>



  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">ไฟล์แนบ</th>
        <th scope="col"></th>
      </tr>
    </thead>


    <tbody>

      <tr *ngFor="let element of dataSource | slice: (page-1) * rowsPerPage : page * rowsPerPage" >
        <th scope="row">{{element.user_id}}</th>
        <td>{{element.user_username}}</td>
        <td>{{element.user_password}}</td>
        <td>{{element.attachFileName}}</td>
        <td class="text-center" ><button (click)="btnDelete(element.user_id)" class="btn btn-danger">ลบข้อมูล</button></td>
      </tr>

    </tbody>

  </table>

  <ngb-pagination [(page)]="page" [pageSize]="rowsPerPage" [collectionSize]="dataSource.length"></ngb-pagination>


</div>
